

$minWidth: 320;

$maxWidth: 1800;

$maxWidthContainer: 1200;

$containerPadding: 30;

[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
}

$orange: rgba(248, 133, 10, 1);
$balck:  rgba(38, 37, 37, 1);
$bg-color: rgba(229, 234, 245, 1);
