@import '../../App.scss';
.station-list {
  display: flex;
  flex-direction: column;
 
  overflow: auto;
  flex-grow: 1;
 
  &__item {
    display: flex;
    justify-content: space-between;
    transition: color 0.7s;
    &--active {
      color: $orange;
    }
  }

  &__item-like-button {
  }
}
.station-list {

		&__favorites {
     color: $bg-color;
     transition: color 0.6s;
		}
}
.favorite{
  color: $orange;
}