@import "./assets/scss/null.scss";
@import "./assets/scss/variable.scss";
@import "./assets/scss/mixin.scss";

body{
  color: $balck;
  // width: 100vw;
  // overflow: hidden;
  
  // background: radial-gradient(circle, rgba(13,149,144,1) 0%, rgba(34,180,174,1) 100%);
}
.app {
  display: flex;
 height: 100vh;
}
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  
}
.main {
  
  
  background: white;
  display: flex;
  
  flex-grow: 1;
   overflow: hidden;
}
.test{
  flex-grow: 1;
   overflow: hidden;
  display: flex;
  flex-direction: column;
}